@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.about-me-page {
  &.content {
    height: 80%;
  }
}

.columns {
  display: flex;
  margin: 0 6vw;
}

.about-me-text {
  color: $text-color;
  text-align: left;
  font-size: 1.1rem;
  line-height: 160%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  > div {
    margin: 1rem 0;
  }
}

.caption {
  font-family: 'Architects Daughter', cursive;
  position: relative;
  bottom: 70px;
  right: 8px;
  text-align: center;
}

.picsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;

  div {
    width: calc(200px + 8vw);
  }
}

section {
  max-width: 70vw;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .about-me-page {
    &.content {
      flex-direction: column;
      margin: 0;
    }
  }
}
