// $link-color: #b73b9c;
$link-color: #0041e8;
$link-color-red: #ff2e63;
$primary-color: #333;
// $text-color: #0e0e0e;
$text-color: #000;
$text-color-hover: #4e78c9;
$bright-blue: #0041e8;
$link-color-pink: #0041e8;
$purple: #7d76b7;
$eggplant: #535377;
$white: #fff;
$light-blue: #f5f9ff;
$medium-gray: #909090;
$mandarin: #fff0db;
$black: #000;
$bright-purple: #7014d5;
$brighter-purple: #9f44ff;
$navy: #2a3d62;
