@import "./colors";
@import "./fonts";

h1 {
  // background: linear-gradient(30deg, #f8a1f8, #ffa970);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: black;
  font-weight: 700;
}

.container {
  overflow: auto;
}

canvas {
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ddd;
  // background: #12071f !important;
}
.content {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: center;
  // margin: 0 auto;
  // height: 100%;

  // top: 0;
  // max-width: 70vw;

  // position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // left: 240px;
  // &.front-page {
  //   height: 85%;
  // }
}

.past-work {
  max-width: 90vw;
  @media only screen and (min-width: 1000px) {
    max-width: 70vw;
  }
  margin: 0 auto;
}

.empty-space {
  height: 100px;
}

.contentWrapper {
  background: $white;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.introText {
  display: inline-block;
  flex-direction: column;
  font-weight: 500;
  font-size: var(--font-size-lg);
  letter-spacing: -0.04em;
  max-width: 650px;
  //color: white;
  color: $text-color;
  justify-content: center;
  position: absolute;
  top: 300px;
  left: 15%;
  margin: 0;
  font-size: var(--font-size-xl);
  max-width: 700px;
  line-height: 65px;

  @media screen and (min-width: 2000px) {
    left: 23%;
  }

  @media screen and (min-width: 2500px) {
    left: 30%;
  }

  @media screen and (max-width: 1000px) {
    left: 4%;
  }

  & > span {
    display: flex;
    align-items: center;
  }
  .role {
    font-weight: 400;
    font-size: var(--font-size-smm);
    letter-spacing: 0;
    height: 50px;
  }
  // #2c2c2c
  h2,
  h3 {
    margin: 0;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 800;
  }
  h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 8px;
    color: black;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .introText {
    width: 100%;
  }
}

.subtitle {
  // font-size: 1rem;
  margin-top: 2rem;
}

.icon {
  width: 1em;
  height: 1em;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.scroll-to-explore {
  //position: absolute;
  //left: 50%;
  //bottom: 20px;
  font-weight: 500;
  color: $primary-color;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.icon-scroll,
.icon-scroll:before {
  display: flex;
}
.icon-scroll {
  width: 15px;
  height: 25px;
  box-shadow: inset 0 0 0 1.5px $primary-color;
  border-radius: 25px;
  margin-left: 8px;
  &:before {
    content: "";
    width: 3px;
    height: 3px;
    background: $primary-color;
    margin-left: 6px;
    left: 6px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.banner {
  background-color: #3a306e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin-bottom: 0;
}

.projects-grid {
  display: grid;
  grid-template-areas:
    "racefinder"
    "timeseries";
  place-items: center;
  max-width: none;
  margin: 0 0 70px 0;
  grid-gap: 70px;
  @media only screen and (min-width: 1000px) {
    grid-template-areas: "racefinder timeseries";
    align-items: start;
    justify-content: center;
    grid-gap: 50px 50px;
    max-width: 120vw;
    margin: 80px auto 200px auto;
  }

  .rectangle {
    &:nth-of-type(1) {
      grid-area: racefinder;
    }
    &:nth-of-type(2) {
      grid-area: timeseries;
    }
  }
}

canvas {
  overflow: visible;
}
