@import "./colors";

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  margin: 0 auto;
  height: 100%;
  gap: 3vw;
}

.contentWrapper {
  background: #f5f9ff;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.introText {
  display: inline-block;
  flex-direction: column;
  font-weight: 500;
  font-size: calc(100% + 1.8vw);
  //color: white;
  color: $text-color;
  justify-content: center;
  margin: 0;
  & > span {
    display: flex;
    align-items: center;
  }
}


@media only screen and (max-width: 1000px) {
  .content {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .introText {
    width: 100%;
  }
}

.subtitle {
  font-size: 1rem;
  margin-top: 2rem;
}

.icon {
  width: 1em;
  height: 1em;
}
