@import "./colors";

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  margin: 0 auto;
  height: 88vh;
  gap: 3vw;
}

.contentWrapper {
  background: #f5f9ff;
}

.introText {
  display: inherit;
  flex-direction: column;
  font-weight: 500;
  font-size: calc(100% + 2vw);
  color: $text-color;
  justify-content: center;
  margin: 0;
  & > span {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }
  .introText {
    width: 100%;
  }
}

.subtitle {
  font-size: 1rem;
  margin-top: 2rem;
}

.wavingHandIcon {
  width: 3vw;
  height: 3vw;
  animation-name: wave-animation;
  animation-duration: 2.5s;
}


@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
