@import "colors";

.graphWrapper {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  width: 2.2vw;
  height: 2.2vw;
  transition: opacity .3s;
}

.row {
  display: flex;
}
