.container {
  display: grid;
  grid-template-rows: repeat(14, 2vw);
  grid-template-columns: repeat(10, 2vw);
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}

.box {
  width: 2vw;
  height: 2vw;
  z-index: 0;
  position: relative;
  transform: scale(0);
  transition: border-top-left-radius 1s;
}

.borderTopLeftRadius {
  border-top-left-radius: 100%;
}

.borderTopRightRadius {
  border-top-right-radius: 100%;
}

.borderBottomLeftRadius {
  border-bottom-left-radius: 100%;
}

.borderBottomRightRadius {
  border-bottom-right-radius: 100%;
}
