@import "colors";

.graphWrapper {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  width: 2vw;
  height: 2vw;
  transition: opacity .3s;
  //filter: brightness(1.5) grayscale(0.4);
}

.row {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .graph {
    display: none;
  }
}
