$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$text-color: #223458;

.header {
  color: $primary-color;
  display: flex;
  padding: 2.5rem 0;
 }

 .header .logo {
   font-family: "Comfortaa", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  background: -webkit-linear-gradient(#b32673, #856cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 0 #b32673);
   height: 50px;
}

.heartIcon {
  position: relative;
  top: 3px;
}

.introText {
  background: #fff;
  display: inline-block;
  font-weight: 500;
  font-size: 2.7rem;
  color: $text-color;
  width: 75%;
}

.navLink {
  font-weight: bold;
  color: white;
  background: #80314E;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none;
  }
}

.navigation {
  list-style-type: none;
  position: absolute;
  right: 5rem;
  > li a {
    color: $text-color;
    text-decoration: none;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 1000px) {
  .hamburgerMenu {
    display: none;
  }
}

.hamburgerMenu, .crossIcon {
  cursor: pointer;
  position: absolute;
  right: 6rem;
}

.navigation > li {
  float: left;
  margin: 0 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

