@import "src/styles/colors";
@import "src/styles/fonts";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  z-index: 1;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }

  &.sticky {
    flex: 0 0 auto;
    background: $white;
    z-index: 1;
  }

  .logo {
    cursor: pointer;
    width: 35px;
    height: 35px;
    z-index: 2;
  }
}

.heartIcon {
  position: relative;
  top: 3px;
}

.navLink {
  font-weight: bold;
  color: white;
  background: #80314e;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none !important;
  }
}

@media only screen and (min-width: 1000px) {
  .burgerMenuNavigation {
    display: none;
  }
}

.navigation {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-end;
  > li a {
    color: $text-color;
    text-decoration: none;
    font-size: var(--font-size-smm);
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  > .active a {
    font-weight: 500;
    // background: #eeeeee;
    // padding: 4px 8px;
    // color: $link-color-pink;
  }
}

@media only screen and (min-width: 1000px) {
  .hamburgerMenu {
    display: none;
  }
}

.hamburgerMenu,
.crossIcon {
  cursor: pointer;
  position: absolute;
  right: 6vw;
  display: block;
}

.navigation > li {
  text-transform: lowercase;
  font-weight: 500;
  &:first-of-type {
    margin: 3rem 0 0.2rem 0;
  }
}

@media only screen and (max-width: 1000px) {
  .header > div {
    max-width: 90vw;
  }
}
