@import "../colors.scss";

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $text-color;
  height: 100vh;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  transform: translateX(200%);
  width: 50%;
  text-align: center;

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 800px) {
  width: 100%;
}

  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: $white;
    text-decoration: none;
    transition: color 0.3s linear;

    @media (max-width: 800px) {
    font-size: 1.5rem;
    text-align: center;
  }

    &:hover {
      color: $bright-blue;
    }
  }
}
