@import "../../../styles//colors.scss";

.wrapper {
  background: $text-color;
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input {
    width: calc(100% - 32px);
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    &::placeholder {
      font-size: 1rem;
      color: $medium-gray;
      font-family: "Metropolis", Verdana, sans-serif;
    }
    &:focus {
      outline: none !important;
      border-color: $bright-blue;
    }
  }
  .submit-button {
    width: 100%;
    height: 48px;
    cursor: pointer;
    background: $bright-purple;
    color: #fff;
    border: none;
    padding: 0 16px;
    border-radius: 4px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: sans-serif;
    transition: background 300ms ease;
    &:hover {
      background: $brighter-purple;
    }
  }
  buttonhover: {
    background: #fff;
    color: #000000;
  }
}
