@import "../../../styles//colors.scss";

.wrapper {
  //   background: $text-color;
  //   background: linear-gradient(45deg, rgb(5 50 139), #730181);
  background-image: url("../../../images/gradient.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   opacity: 0.99;
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > h1 {
    text-align: center;
  }
  > form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input {
    width: calc(100% - 32px);
    height: 48px;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
    &::placeholder {
      font-size: 1rem;
      color: $medium-gray;
      font-family: "Metropolis", Verdana, sans-serif;
    }
  }
  .submit-button {
    width: 100%;
    height: 48px;
    cursor: pointer;
    background: $bright-purple;
    color: #fff;
    border: none;
    padding: 0 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: 400;
    font-family: "Metropolis", Verdana, sans-serif;
    font-size: 1rem;
    transition: background 300ms ease;
    &:hover {
      background: $brighter-purple;
    }
  }
}
